@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--beige-100: #faf6f0;
	--beige-200: #f4eae0;
	--beige-300: #f4dfc8;
	--beige-400: #dcc9b4;
	--beige-500: #c3b2a0;

	--border-color: black;

	--text-color: black;

	color: var(--text-color);
	background-color: var(--beige-300);
}
.dark {
	--beige-100: #646260;
	--beige-200: #494643;
	--beige-300: #312d28;
	--beige-400: #161412;
	--beige-500: #0b0a0a;

	--border-color: white;

	--text-color: white;

	color: var(--text-color);
	background-color: var(--beige-300);
}


.bg-size-10 {
	background-size: 8px 8px;
}

.button {
  @apply border border-black p-1 duration-200 hover:shadow-[4px_4px_black];
}

.line-break {
  word-break: break-all;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: '';
  margin-right: 10px;
  width: 15px;
  height: 15px;
  outline: 2px solid;
  border-radius: 20px;
}

input[type="radio"]:checked + label:before {
  background-color: black;
  border: 2px solid #f4dfc8;
}

@media (min-width: 641px) {
	.limit:nth-of-type(1n+4) {
		display: none;
	}
}

@media (width <= 640px) {
	.limit:nth-of-type(1n+3) {
		display: none;
	}
}
