@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--beige-100: #faf6f0;
	--beige-200: #f4eae0;
	--beige-300: #f4dfc8;
	--beige-400: #dcc9b4;
	--beige-500: #c3b2a0;

	--border-color: black;

	--text-color: black;

	color: var(--text-color);
	background-color: var(--beige-300);
}
.dark {
	--beige-100: #fafafa;
	--beige-200: #27272a; 
	--beige-300: #18181b;
	--beige-400: #3f3f46;
	--beige-500: #3e3e41;

	--border-color: #6e6e6e;

	--text-color: white;

	color: var(--text-color);
	background-color: var(--beige-300);
}


.bg-size-10 {
	background-size: 8px 8px;
}

.line-break {
  word-break: break-all;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: '';
  margin-right: 10px;
  width: 15px;
  height: 15px;
  outline: 2px solid var(--border-color);
  border-radius: 20px;
}

input[type="radio"]:checked + label:before {
  background-color: var(--border-color);
  border: 2px solid var(--beige-300);
}

@media (min-width: 641px) {
	.limit:nth-of-type(1n+4) {
		display: none;
	}
}

@media (width <= 640px) {
	.limit:nth-of-type(1n+3) {
		display: none;
	}
}
